a.dt-button.buttons-print span{
font-size:3em;

}
a.dt-button.buttons-print span.glyphicon.glyphicon-print{
font-size:3em;

}
hr {
      border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
@media only screen and (max-width: 800px) {
  
  /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  #no-more-tables  tr { border: 1px solid #ccc; }
 
  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 45%;
    overflow: auto; 
    white-space: normal;
    text-align:middle;
  }
 
  #no-more-tables   td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
#no-more-tables  td:before { content: attr(data-title); }
 /* Force table to not be like tables anymore */
  #no-more-tables2 table, 
  #no-more-tables2 thead, 
  #no-more-tables2 tbody, 
  #no-more-tables2 th, 
  #no-more-tables2 td, 
  #no-more-tables2 tr { 
    display: block; 
  }
#no-more-tables2  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  #no-more-tables2  tr { border: 1px solid #ccc; }
 
  #no-more-tables2 td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 45%;
    overflow: auto; 
    white-space: normal;
    text-align:middle;
  }
 
  #no-more-tables2   td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables2  td:before { content: attr(data-title); }
    #no-more-tables3 table, 
  #no-more-tables3 thead, 
  #no-more-tables3 tbody, 
  #no-more-tables3 th, 
  #no-more-tables3 td, 
  #no-more-tables3 tr { 
    display: block; 
  }
#no-more-tables3  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  #no-more-tables3  tr { border: 1px solid #ccc; }
 
  #no-more-tables3 td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 45%;
    overflow: auto; 
    white-space: normal;
    text-align:middle;
  }
 
  #no-more-tables3   td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables3  td:before { content: attr(data-title); }
  .reponsive-tables table, 
  .reponsive-tables thead, 
  .reponsive-tables tbody, 
  .reponsive-tables th, 
  .reponsive-tables td, 
  .reponsive-tables tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  .reponsive-tables  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  .reponsive-tables  tr { border: 1px solid #ccc; }
 
  .reponsive-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 38%;
    overflow: auto; 
    white-space: normal;
    text-align:middle;
  }
 
  .reponsive-tables   td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
.reponsive-tables  td:before { content: attr(data-title); }


 }